@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(8, 8, 7);
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
